@charset "utf-8";
html{
}
body{
}
/* header */
#header{
    background:#3C4767;
    width: 100%;
    height: 100px;
}

.header-block{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 3%;
    padding-right: 3%;
}

.menu-trigger{
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    color: white;
    font-size: 20px;
}

.menu-trigger span{
    display: block;
    width: 10px;
    height: 10px;
    border-top: 1px solid white;
    border-right: 1px solid white;
    transform: rotate(135deg);
    transition: 0.3s ease-in-out;
}

.menu-trigger.active span{
    transform: rotate(-45deg);
}

.header-nav{
    display: none;
    position: absolute;
    top: 100px;
    right: 0;
}

.header-nav ul{
    width: 300px;
}

.header-nav li{
    height: 70px;
    line-height: 70px;
    text-align: center;
    background-color: white;
    border: 1px solid #6C6C6C;
    margin: 0 0 -1px;
}

.header-nav li:hover{
    background-color: orange;
}

.header-nav ul li a{
    display: block;
    color: #6C6C6C;
}

.icon{
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

/* main content */
#row{
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}

#container{
    flex: 0 0 80%;
}
#side-bar{
    flex: 0 0 20%;
    padding-bottom: 10000px;
    margin-bottom: -10000px;
    border-left: 1px solid #6C6C6C;
}

/* sidebar */
#confirm{
    padding: 20px 3%;
    border-bottom: 1px solid #6C6C6C;
}

.follow, .follower{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 10px;
}

.sidebar-btn{
    display: block;
    margin: 0 0 0 auto;
    cursor: pointer;
    width: 150px;
    height: 50px;
    background-color: #3C4767;
    color: white;
    border-radius: 5px;
    border: none;
}

.usersearch-btn{
    margin: 20px auto;
}

/* 投稿エリア */
.post-area{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-bottom: 5px solid #dcdcdc;
}

.post-icon{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.form-control{
    width: 1000px;
    height: 70px;
    border: none;
    font-size: 1rem;
}

.post-btn{
    cursor: pointer;
    background-color: white;
    border: none;
}

.error-txt {
    color: red;
}

/* つぶやきエリア */
.posts-area{
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    color: #696969;
}

.posts-icon{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.posts{
    width: 1100px;
}

.posts-top{
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    padding-bottom: 10px;
}

hr{
    border: none;
}

.posts-border{
    width: 98%;
    border-top: 2px solid #dcdcdc;
}

.posts-bottom{
    display: flex;
    justify-content: flex-end;
}

.edit-btn{
    cursor: pointer;
    background-color: white;
    border: none;
    margin-right: 15px;
}

.delete-btn {
    cursor: pointer;
    background-color: white;
    border: none;
}

.edit-btn img, .delete-btn img {
    width: 30px;
    height: 30px;
}

.overlay{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: gray;
    opacity: .2;
    z-index: 1;
    top: 0;
    left: 0;
}

.overlay.open{
    display: block;
}

.modal{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.post-edit{
    width: 600px;
    height: 300px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

.editform-posts{
    margin: 0 10% 10px;
    border: 1px solid #696969;
    border-radius: 5px;
    width: 450px;
    height: 200px;
    font-size: 1rem;
}

.update-btn{
    display: block;
    margin: 0 0 0 490px;
}

.modal-close{
    display: block;
    background: transparent;
    border-color: transparent;
    padding: 0;
    margin: 0 0 0 auto;
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.modal-close span{
    display: block;
    width: 100%;
    height: 1px;
    background: black;
}

.modal-close span:nth-child(1){
    transform: rotate(45deg);
}

.modal-close span:nth-child(2){
    transform: rotate(-45deg);
}

/* ユーザー検索画面 */
.search-form{
    display: flex;
    justify-content: space-between;
    padding: 2% 8%;
    border-bottom: 5px solid #dcdcdc;
}

.searchform-control{
    border: 2px solid #6C6C6C;
    border-radius: 5px;
    width: 300px;
    height: 40px;
    font-size: 1rem;
}

.search-btn {
    cursor: pointer;
    width: 70px;
    height: 30px;
    margin-left: 10px;
    background-color: #3C4767;
    color: white;
    border-radius: 5px;
    border: none;
}

.keyword{
    display: block;
    font-size: 20px;
    color: #696969;
    margin-top: 13px;
    margin-right: 275px;
}

.users-area{
    display: flex;
    margin: 3% 30% 3% 8%;
    align-items: center;
    font-size: 1.3rem;
}

.users-icon{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 30px;
}

.btn-area{
    margin: 0 0 0 auto;
}

.follow-btn{
    cursor: pointer;
    width: 150px;
    height: 50px;
    margin-left: 10px;
    background-color: #4b71ca;
    color: white;
    border-radius: 5px;
    border: none;
    }

.unfollow-btn {
    cursor: pointer;
    width: 150px;
    height: 50px;
    margin-left: 10px;
    background-color: #b95656;
    color: white;
    border-radius: 5px;
    border: none;
}

/* フォロー・フォロワーリスト */
.follow-list{
    height: 220px;
    border-bottom: 5px solid #dcdcdc;
}

.follow-list p{
    margin-top: 25px;
    margin-left: 50px;
    font-size: 30px;
    color: #696969;
}

.icon-area{
    margin: 10px 60px;
}

.follow-icon{
    border-radius: 50%;
    margin-left: 10px;
}

/* プロフィール */
.profile{
    height: 150px;
    border-bottom: 5px solid #dcdcdc;
}

.profile-area{
    display: flex;
    margin: 30px 50px 10px;
}

.profile-icon{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 40px;
}

.profile-area table{
    width: 800px;
}

.profile-area th,
.profile-area td{
    padding: 10px 30px 20px;
    font-size: 20px;
    color: #696969;
}

.profile-area th{
    width: 60px;
}

.profile-btn{
    margin-top: 70px;
    margin-left: 50px;
}

/* プロフィール編集 */
.profile-edit{
    display: flex;
    margin: 57px 150px;
}

.profile-edit th,
.profile-edit td{
    padding-bottom: 20px;
    text-align: left;
    vertical-align: top;
}

.profile-edit th{
    font-size: 20px;
    color: #696969;
}

.input {
    width: 500px;
    height: 30px;
    font-size: 16px;
    background-color: #dcdcdc;
    border: none;
    border-bottom: 2px solid #696969;
    margin-left: 40px;
}

.input-bio {
    width: 500px;
    height: 150px;
    font-size: 16px;
    background-color: #dcdcdc;
    border: none;
    border-bottom: 2px solid #696969;
    margin-left: 40px;
}

.input-image {
    width: 500px;
    height: 30px;
    font-size: 16px;
    background-color: #dcdcdc;
    border: none;
    border-bottom: 2px solid #696969;
    margin-left: 40px;
}

.pedit-btn {
    display: block;
    margin: 0 0 0 auto;
    cursor: pointer;
    width: 130px;
    height: 50px;
    background-color: #739926;
    color: white;
    border-radius: 5px;
    border: none;
}
