@charset "utf-8";
html{
}
body{
}
/* header */
#header{
    background:#3C4767;
    width: 100%;
    height: 100px;
}

.header-block{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 3%;
    padding-right: 3%;
}

.menu-trigger{
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    color: white;
    font-size: 20px;
}

.menu-trigger span{
    display: block;
    width: 10px;
    height: 10px;
    border-top: 1px solid white;
    border-right: 1px solid white;
    transform: rotate(135deg);
    transition: 0.3s ease-in-out;
}

.menu-trigger.active span{
    transform: rotate(-45deg);
}

.header-nav{
    display: none;
    position: absolute;
    top: 100px;
    right: 0;
}

.header-nav ul{
    width: 300px;
}

.header-nav li{
    height: 70px;
    line-height: 70px;
    text-align: center;
    background-color: white;
    border: 1px solid #6C6C6C;
    margin: 0 0 -1px;
}

.header-nav li:hover{
    background-color: orange;
}

.icon{
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

/* main content */
#row{
    display: flex;
    flex-wrap: nowrap;
}
#container{
    flex: 0 0 80%;
}
#side-bar{
    flex: 0 0 19%;
    border-left: 1px solid #6C6C6C;
}

/* sidebar */
#confirm{
    padding: 20px 3%;
    border-bottom: 1px solid #6C6C6C;
}

.follow, .follower{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 10px;
}

.sidebar-btn{
    display: block;
    margin: 0 0 0 auto;
    cursor: pointer;
    width: 150px;
    height: 50px;
    background-color: #3C4767;
    color: white;
    border-radius: 10%;
    border: none;
}

.search-btn{
    margin: 20px auto;
}

/* 投稿エリア */
.post-area{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-bottom: 5px solid #dcdcdc;
}

.post-icon{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.form-control{
    width: 1000px;
    height: 70px;
    vertical-align: bottom;
    border: none;
}

.post-btn{
    cursor: pointer;
    background-color: white;
    border: none;
}

.error-txt {
    color: red;
}

/* つぶやきエリア */
.posts-area{
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    color: #696969;
}

.posts-icon{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.posts{
    width: 1100px;
}

.posts-top{
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    padding-bottom: 10px;
}

hr{
    border: none;
}

.posts-border{
    width: 98%;
    border-top: 2px solid #dcdcdc;
}
